body {
  background-color: #ffffff;
  color: #000000;
}

.hero {
  background-color: #138808;
}

.button.is-warning {
  background-color: #ff9933;
  color: #ffffff;
}

.button.is-primary {
  background-color: #000000;
  color: #ffffff;
}

.navbar,
.level {
  background-color: #138808;
  color: #ffffff;
}
